<div class="mid-lane">
    <div class="login-box">

        <div class="login-box-header">
            Log In
        </div>

        <div class="login-box-body">

            <form class="form login-form container-fluid">

                <div class="input-group row mb-2 mt-1">
                    <label for="login-username" class="col-3">Username</label>
                    <input id="login-username" type="text" class="col-9">
                </div>

                <div class="input-group row mb-2">
                    <label for="login-password" class="col-3">Password</label>
                    <input id="login-password" type="password" class="col-9">
                </div>

                <div class="input-group row mb-1 justify-content-center">
                    <button type="submit" class="col-3" id="login-btn">LOG IN</button>
                </div>

            </form>

        </div>

    </div>

<a href="/signup">Sign Up Instead</a>
</div> 

<script src="/js/login.js"></script>
