<div class="xl-lane">
    <div class="new-post-box">

        <div class="new-post-box-header">
            Create New Post
        </div>

        <div class="new-post-box-body">

            <form class="form new-post-form container-fluid">

                <div class="row mb-2">
                    <label for="new-post-title" class="col">Title</label>
                </div>
                <div class="row mb-2 justify-content-center">
                    <input id="new-post-title" type="text" class="col-11">
                </div>

                <div class="row mb-2">
                    <label for="new-post-text" class="col">Text</label>
                </div>
                <div class="row mb-2 justify-content-center">
                    <textarea id="new-post-text" type="text" class="col-11" rows="5"></textarea>
                </div>

                <div class="input-group row mb-1 justify-content-center">
                    <button type="submit" class="col-3" id="new-post-btn">SUBMIT</button>
                </div>

            </form>

        </div>

    </div>
</div> 

<script src="/js/postBlog.js"></script>
