<div class="lg-lane">
    <div class="signup-box">

        <div class="signup-box-header">
            Sign Up
        </div>

        <div class="signup-box-body">

            <form class="form signup-form container-fluid">

                <div class="input-group row mb-2 mt-1">
                    <label for="signup-username" class="col-4">Username</label>
                    <input id="signup-username" type="text" class="col-8">
                </div>

                <div class="input-group row mb-2">
                    <label for="signup-password" class="col-4">Password</label>
                    <input id="signup-password" type="password" class="col-8">
                </div>

                 <div class="input-group row mb-2">
                    <label for="signup-password-confirm" class="col-4" style="white-space: nowrap;">Re-Type Password</label>
                    <input id="signup-password-confirm" type="password" class="col-8">
                </div>

                <div class="input-group row mb-1 justify-content-center">
                    <button type="submit" class="col-3" id="signup-btn">SIGN UP</button>
                </div>

            </form>

        </div>

    </div>
    
<a href="/login">Log In Instead</a>
</div> 


<script src="/js/signup.js"></script>